<%- include('partials/header'); -%>

    <!-- About page content -->

     <div class="container mt-5 main-content about">
        <h1>About our blog</h1>

        <p>Welcome to BlogPoster, where you can post thoughts and improve content writing skills.<br>Your posts are saved in
        a real-time database and others can read them.<br> So don't spam!
        The main purpose of this blog is to share your thoughts with all so that all can make use of them.<br>
        You can post news, events, story, article, etc...<br>
        Once again don't spam anything, because it is an open world platform.<br>
        Other's able to see through your posts.</p>
        <h3>
            ThankYou!
        </h3>
        <p class="mt-5 mb-1">Snowin J</p>
        <p class="mt-1">CEO@MashTech</p>
     </div>
     
<%- include('partials/footer'); -%>