<%- include('partials/header'); -%>

   <!-- Contact page content -->
   <div class="container main-content contact">

      <h1>Contact us</h1>
      <!-- <a href="mailto: jsnowin6@gmail.com">Talk</a> -->
      <a href="mailto: jsnowin6@gmail.com"><img src="images/gmail.svg" alt="email.svg"></a>

   </div>

   <%- include('partials/footer'); -%>