<%- include('partials/header'); -%>

    <div class="container mt-5 post-page">
        <h1 class="my-5"> <%= title %> </h1>
        <p> <%= body %> </p>
    </div>

<%- include('partials/footer'); -%>